body{

margin:0;

padding:0;

font-family:'Segoe UI',sans-serif;

background:linear-gradient(135deg,#0f172a,#2563eb);

min-height:100vh;

}

/* Landing Page */

.landing-page{

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.landing-card{

background:white;

padding:60px;

border-radius:20px;

width:700px;

text-align:center;

box-shadow:0 15px 40px rgba(0,0,0,.25);

}

.landing-card h1{

font-size:42px;

font-weight:700;

margin-bottom:20px;

}

.landing-card p{

font-size:20px;

color:#555;

}

.glass-card{

background:rgba(255,255,255,.96);

border-radius:20px;

padding:40px;

box-shadow:0 10px 35px rgba(0,0,0,.2);

}

label{

font-weight:600;

margin-bottom:8px;

}

.form-control,

.form-select{

height:50px;

border-radius:12px;

}

.btn-primary{

background:#2563eb;

border:none;

border-radius:12px;

height:52px;

font-size:18px;

font-weight:600;

transition:.3s;

}

.btn-primary:hover{

transform:translateY(-3px);

background:#1d4ed8;

}

.result-card{

text-align:center;

background:#0f172a;

color:white;

padding:30px;

border-radius:15px;

animation:fade .6s;

}

.result-card h1{

font-size:70px;

font-weight:bold;

margin:15px 0;

color:#22c55e;

}

.result-card p{

font-size:20px;

margin:0;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}